<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

    <link rel="dns-prefetch" href="https://static.ucsc.edu" />
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" name="viewport" />

    <link href="https://www.ucsc.edu/favicon.ico" rel="shortcut icon" />
    <link href="https://www.ucsc.edu/apple-touch-icon.png" rel="apple-touch-icon" />

    <link href="https://static.ucsc.edu/_responsive/css/ucsc.css?t=20190115113000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ " /assets/css/styles.css " | relative_url }}" />
    <script src="https://static.ucsc.edu/_responsive/lib/modernizr/modernizr.js" type="text/javascript"></script>
    <script src="https://static.ucsc.edu/_responsive/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script async="async" src="https://static.ucsc.edu/_responsive/js/main.js?t=20190213144600" type="text/javascript"></script>
    <script defer="true" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />


    <title>{{ page.title }}</title>

    {% seo %}


</head>

<body class="home {{ page.title | slugify }}">
    <div id="wrap">
        <div id="container">
            <div id="content">
                <div id="main" role="main">

                    {{ content }}

                </div>



            </div>
            <!-- /content -->
        </div>
        <!-- /container -->
    </div>
    <!-- /wrap -->

    {% include analytics.html %}

</body>

</html>